[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ImpShrinkage"]
	path = ImpShrinkage
	url = https://github.com/mnrzrad/impshrinkage
[submodule "TestIndVars"]
	path = TestIndVars
	url = https://github.com/mnrzrad/testindvars
